
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Campaign</title>
</head>
<body>
<div style="background-color: #000080;">
	<h1>Campaign layout</h1>
</div>

<div>
	@RenderBody()
</div>

</body>
</html>
